body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.faxible-container {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 100%;
    padding-left: 7%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}

.half-width image {
    width: 80%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 80px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}



.experience-item {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;


}

footer p {
    text-align: center;
    padding-top: 70px;
}